*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* important stuff */
li{
    margin: 5px;
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* .font{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

img{
    object-fit: cover;
}
figure{
    overflow: hidden;
}
/* important stuff END*/
/* cards */
.card-hover:hover{
    filter: brightness(0.7);
    transition: all ease-in-out 0.2s;
}
.card-hover{
    transition: all ease-in-out 0.2s;
}
.cover{
    visibility: hidden;
    top: 30px;
    right: 20px;
}
.card-hover:hover .cover{
    visibility: visible;
}
/* cards END*/
.side-massage{
    border: 2px solid red;
}
.head_info{
    font-weight: 500;
    font-size:small;
}
/* icon styles */
.hover-black{
    color: gray;
    transition: all 0.4s ease-in-out;
}
.hover-black:hover{
    color: black;
    transition: all 0.4s ease-in-out;
   
}
.hover-blue{
    color: black;
    transition: all 0.2s ease-in-out;
}
.hover-blue:hover{
    color: rgb(11, 187, 231);
    transition: all 0.1s ease-in-out;
}
.move{
    transition: all ease-in-out 0.2s;

}
.move:hover{
    transform: translateY(15px);
    transition: all ease-in-out 0.2s;
}
.txt{
    color: rgb(11, 187, 231);
    opacity: 0%;
    transition: all 0.4s ease-in-out;
}
.txt:hover{
    opacity: 100%;
    transition: all 0.4s ease-in-out;
    color: rgb(11, 187, 231);
}
/* icon styles END*/
/* Adds style */
.shadow-Add:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-45deg, #47fcff 0%, #ff00c8 100% );
    transform: translate3d(0px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}
.shadow-Add::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
/* shadows and colors */
.line_color{
    margin-top: 0;
    margin-bottom: -20px;
    border: 0;
    border-top: 0 solid transparent;
    background: linear-gradient(-90deg,#3ce2c1,#236fef,#e13b5f);
    height: 45px;
    box-shadow: inset 0 -40px 40px 11px #fff;
    position: relative;
}
/* shadows and colors END*/
.btn-yellow{
    background-color: rgb(255, 255, 186);
    color: gray;
}
.btn-yellow:hover{
    background-color: rgb(255, 255, 186);
}
.save-btn{
    font-size: 12px;
    font-weight: 500;
}
.Text-Link{
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bolder;
    transition: all ease-in-out 0.1s;
}
.Text-Link:hover{
    color: rgb(56, 12, 255);
    font-size: 15px;
    font-weight: bolder;
    transition: all ease-in-out 0.1s;
}